<div id="video-bg">
  <video autoplay muted loop id="myVideo">
    <source src="../../assets/videos/cibc_collaborate.mp4" type="video/mp4">
    <!-- Your browser does not support HTML5 video. -->
  </video>
</div>
<!-- <div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/8FhnPc-v0BQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div> -->
<!-- <div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/8FhnPc-v0BQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div> -->
<!-- <script>
  $('[data-youtube]').youtube_background();
</script>
<div class="youtube-background" style="height: 100%; width: 100%; z-index: 0; position: absolute; overflow: hidden; top: 0px; left: 0px; bottom: 0px; right: 0px; pointer-events: none; min-height: 100vh"><iframe id="ytbg" data-youtube="https://www.youtube.com/watch?v=8FhnPc-v0BQ" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="1920" height="1080" src="https://www.youtube.com/embed/8FhnPc-v0BQ?controls=0&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;rel=0&amp;showinfo=0&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=1" style="top: 0%; left: 50%; transform: translateX(-50%) translateY(-13%); position: absolute; width: 100%;"></iframe></div> -->
<div class="home-cont" id="01">
  <div>
    <div class="container pad0">
      <h4 class="h4">Engineering Collaboration center</h4>
      <h1 class="h1">Collaborate, Learn and Evolve.</h1>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
        <p>Welcome. CIBC Capital Markets Application Engineering provides concept and goals, which are mostly engaging, helping and consulting other teams to use the best architecture, follow best practices all using the right tools. In addition we take over the project and implement it from A-Z. We also own and offer products that will enhance your application development.</p>
      </div>
    </div>
  </div>
</div>
<app-left-cont-right-image></app-left-cont-right-image>
<app-technologies></app-technologies>
<app-talk-to-us></app-talk-to-us>
<app-services></app-services>
<app-news-blog></app-news-blog>
