@import '../../../../styles/vairable';
.technologies {
  padding: 16rem 0px 8rem;
  @media(max-width: 640px){
    padding-bottom: 4rem;
  }
}
.technologies {
  -webkit-box-align: start;
  align-items: start;
  padding-top: 8rem;
  position: relative;
  & h2{
    color: $white;
  }
  & p{
    color: #bbb;
  }
}
.sect {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  color: inherit;
  &:before{
    content: "";
    height: 24%;
    left: 11.5%;
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgb(136, 136, 136);
    @media screen and (max-width: 510px){
      height: 12% !important;
    }
    @media screen and (min-width:511px) and (max-width:614px){
      height: 12%;
    }
    @media screen and (min-width: 641px) and (max-width:767px){
      height: 12% !important;
    }
    @media screen and (min-width:1600px){
      height: 23.5%;
      width: 3px;
    }
  }
  &:after{
    top: 16rem;
  }
  &:after{
    content: "";
    height: 22%;
    left: 6.5%;
    position: absolute;
    top: 24%;
    width: 10%;
    right: auto;
    background: url('../../../../assets/images/circle-blue.svg') center top / contain no-repeat;
    @media screen and (max-width: 640px){
      height: 13%;
      left: 7%;
      top: 12%;
    }
    @media screen and (min-width: 641px) and (max-width:767px){
      height: 17%;
      left: 6%;
      top: 12%;
    }
    @media screen and (min-width: 2160px){
      height: 25%;
    }
  }
  & .tech-cont{
    &:before{
      content: "";
      height: 100%;
      left: -30%;
      right: auto;
      position: absolute;
      width: 20%;
      background: url('../../../../assets/images/dots.svg') center bottom / contain repeat-y !important;
      @media screen and (max-width: 640px){
        height: 12.375vw;
        left: 7.75vw;
        width: 12.375vw;
      }
      @media screen and (min-width: 641px) and (max-width:767px){
        height: 50%;
        left: 3%;
        top: -46% !important;
      }
      @media screen and (min-width: 2160px){
        top: calc(1rem - 2.75vw);
        height: 14rem;
      }
    }
    &:before{
      top: calc(0.5rem - 2.75vw);
      @media screen and (max-width: 640px){
        top: calc(-3.75rem - 2.75vw);
      }
    }
  }
}
.techn-list{
  position: relative;
  background: $grey;
  &:before{
    content: "";
    bottom: 0px;
    display: none;
    left: 11.275vw;
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgb(136, 136, 136);
  }
  &:before{
    display: block;
    @media(max-width:768px){
      display: none;
    }
    @media screen and (min-width: 769px) and (max-width:991px){
      display: none;
    }
  }
  & .tech-list{
    @media screen and (min-width: 641px) and (max-width:767px){
      padding: 0 20px;
    }
    & >div{
      padding-bottom: 40px;
    }
    & h3 {
      color: $white;
      font-weight: bold;
    }
    & p {
      color: #bbb;
    }
    & .tech-img{
      text-align: center;
      @media(max-width:640px){
        margin-bottom: 3rem;
      }
      @media screen and (min-width: 641px) and (max-width:767px){
        margin-bottom: 3rem;
      }
      & img{
        max-width: 10rem;
        margin: 0px auto;
        position: relative;
        top: 10%;
        padding: 0;
      }
    }
    & .tech-content{
      & ul{
        padding: 0;
        @media(max-width:640px){
          display: block;
        }
        & li{
          list-style: none;
          display: inline-block;
          padding-right: 15px;
          &:nth-child(2){
            margin-right: 15px;
          }
          @media(max-width:640px){
            width: 25%;
          }
          @media screen and (min-width: 769px) and (max-width:991px){
            width: 25%;
          }
          @media screen and (min-width: 992px) and (max-width:1024px){
            width: 30%;
          }
          @media screen and (min-width: 1025px) and (max-width:1480px){
            width: 30%;
          }
          & img{
            @media(max-width:640px){
              width: 100%;
            }
            @media screen and (min-width: 769px) and (max-width:1480px){
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.techn-list{
  & .tech-list{
    & .row{
      &:nth-child(4){
        & img{
          padding-left: 10px;
        }
      }
      &:nth-child(5){
        & img{
          padding-left: 10px;
        }
      }
    }
  }
}
