.technologies {
  padding: 16rem 0px 8rem;
  @media(max-width: 640px){
    padding-bottom: 4rem;
  }
}
.technologies {
  -webkit-box-align: start;
  align-items: start;
  padding-top: 8rem;
  position: relative;
  & h2{
    color: #fff;
  }
  & p{
    color: #bbb;
  }
}
.sect {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  color: inherit;
  &:before{
    height: 16rem;
  }
  &:before{
    content: "";
    height: 7rem;
    left: 11.275vw;
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgb(136, 136, 136);
    @media(max-width: 640px){
      height: 5rem;
      left: 13.275vw;
    }
  }
  &:after{
    top: 16rem;
  }
  &:after{
    content: "";
    height: 7rem;
    left: 6.25vw;
    position: absolute;
    top: 8rem;
    width: 12vw;
    background: url('../../../../assets/images/dots.svg') center top / contain repeat-y;
    @media(max-width:640px){
      height: 3rem;
      left: 5.25vw;
      width: 28vw;
      top: 5rem;
    }
  }
  & .tech-cont{
    &:before{
      content: "";
      height: 6.375vw;
      left: -18.25vw;
      position: absolute;
      top: calc(8rem - 2vw);
      width: 9.375vw;
      background: url('../../../../assets/images/circle.svg') center top / contain no-repeat rgb(50, 50, 49);
      @media(max-width: 640px){
        height: 12.375vw;
        left: 7.75vw;
        width: 12.375vw;
      }
    }
    &:before{
      top: calc(0.5rem - 2.75vw);
      @media(max-width: 640px){
        top: calc(-3.75rem - 2.75vw);
      }
    }
  }
}
.techn-list{
  position: relative;
  background: #333;
  &:before{
    content: "";
    bottom: 0px;
    display: none;
    left: 11.275vw;
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgb(136, 136, 136);
  }
  &:before{
    display: block;
    @media(max-width:640px){
      display: none;
    }
  }
  & .tech-list{
    & >div{
      padding-bottom: 40px;
    }
    & h3 {
      color: #fff;
      font-weight: bold;
    }
    & p {
      color: #bbb;
    }
    & .tech-img{
      text-align: center;
      @media(max-width:640px){
        margin-bottom: 3rem;
      }
      & img{
        max-width: 10rem;
        margin: 0px auto;
        position: relative;
        top: 10%;
        padding: 0;
      }
    }
    & .tech-content{
      & ul{
        padding: 0;
        @media(max-width:640px){
          display: flex;
        }
        & li{
          list-style: none;
          display: inline-block;
          padding-right: 15px;
          &:nth-child(2){
            margin-right: 15px;
          }
          @media(max-width:640px){
            & img{
              width: 75%;
            }
          }
        }
      }
    }
  }
}
