.technologies {
  padding: 16rem 0px 8rem;
  @media(max-width: 640px){
    padding-bottom: 4rem;
  }
}
.technologies {
  -webkit-box-align: start;
  align-items: start;
  padding-top: 8rem;
  position: relative;
  & h2{
    color: #fff;
  }
  & p{
    color: #bbb;
  }
}
.sect {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  color: inherit;
  &:before{
    // height: 16rem;
  }
  &:before{
    content: "";
    height: 24%;
    left: 11.5%;
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgb(136, 136, 136);
    @media screen and (max-width: 510px){
      height: 12% !important;
    }
    @media screen and (min-width:511px) and (max-width:614px){
      height: 15%;
    }
    @media screen and (min-width:1600px){
      height: 23.5%;
      width: 3px;
    }
  }
  &:after{
    top: 16rem;
  }
  &:after{
    content: "";
    // height: 7rem;
    // left: 6.25vw;
    height: 22%;
    left: 6.5%;
    position: absolute;
    top: 24%;
    width: 10%;
    right: auto;
    // top: 8rem;
    // width: 12vw;
    background: url('../../../../assets/images/circle-blue.svg') center top / contain no-repeat;
    @media screen and (max-width: 640px){
      height: 13%;
      left: 7%;
      top: 12%;
    }
    @media screen and (min-width: 2160px){
      height: 25%;
    }
  }
  & .tech-cont{
    &:before{
      content: "";
      // height: 6.375vw;
      // left: -18.25vw;
      height: 100%;
      left: -30%;
      right: auto;
      position: absolute;
      // top: calc(8rem - 2vw);
      // width: 9.375vw;
      width: 20%;
      // background: url('../../../../assets/images/dots.svg') center top / contain no-repeat rgb(50, 50, 49);
      background: url('../../../../assets/images/dots.svg') center bottom / contain repeat-y !important;
      @media screen and (max-width: 640px){
        height: 12.375vw;
        left: 7.75vw;
        width: 12.375vw;
      }
      @media screen and (min-width: 2160px){
        top: calc(1rem - 2.75vw);
        height: 14rem;
      }
    }
    &:before{
      top: calc(0.5rem - 2.75vw);
      @media screen and (max-width: 640px){
        top: calc(-3.75rem - 2.75vw);
      }
    }
  }
}
.techn-list{
  position: relative;
  background: #333;
  &:before{
    content: "";
    bottom: 0px;
    display: none;
    left: 11.275vw;
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgb(136, 136, 136);
  }
  &:before{
    display: block;
    @media(max-width:768px){
      display: none;
    }
  }
  & .tech-list{
    & >div{
      padding-bottom: 40px;
    }
    & h3 {
      color: #fff;
      font-weight: bold;
    }
    & p {
      color: #bbb;
    }
    & .tech-img{
      text-align: center;
      @media(max-width:640px){
        margin-bottom: 3rem;
      }
      & img{
        max-width: 10rem;
        margin: 0px auto;
        position: relative;
        top: 10%;
        padding: 0;
      }
    }
    & .tech-content{
      & ul{
        padding: 0;
        @media(max-width:640px){
          display: flex;
        }
        & li{
          list-style: none;
          display: inline-block;
          padding-right: 15px;
          &:nth-child(2){
            margin-right: 15px;
          }
          @media(max-width:640px){
            & img{
              width: 75%;
            }
          }
        }
      }
    }
  }
}
