<header id="header">
  <div class="col-lg-12">
    <div class="">
      <div class="row">
        <nav class="navbar navbar-expand-lg justify-content-end">
          <div class="logo-section">
            <a href="" routerLink="" class="navbar-brand">
              <div class="logo-imgdesc">
              </div>
            </a>
          </div>
          <div class="menu-toggle responsive-menu">
            <div class="menu-close" (click)="changeClasses()"><span class="bar"></span><span class="bar"></span><span
              class="bar"></span></div>
          </div>
          <div id="menu" class="collapse navbar-collapse">
            <div class="menu-sec">
              <ul class="nav navbar-nav mr-0">
                <li (mouseover)="menuOpen()" (mouseout)="menuClose()" class="nav-item dropdown" *ngFor="let i of submenu">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">{{i.main_title}}</a>
                  <ul class="dropdown-menu" [ngClass]='{"active": menuOpened === true}'>
                    <li>
                      <div class="submenu-content">
                        <div class="row">
                          <div class="col-md-7 divider prod-left">
                            <div class="left-submenu-image">
                              <img src="{{i.submenu_img}}" class="serv-blue"/>
                              <h4>{{i.submenu_title}}</h4>
                              <div class="prod-desc">
                                <p>{{i.submenu_desc}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 divider prod-list">
                            <ul>
                              <li [ngClass]='{"active": "/"+item.link === router.url}' *ngFor="let item of i.submenu">
                                <a href="#" routerLink="/{{item.link}}" (click)="changeClasses()">
                                  <div class="icon">
                                    <img src="{{item.icon}}"/>
                                  </div>
                                  <div class="submenu-title">
                                    {{item.title}}
                                    <span>{{item.abbr}}</span>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div id="mobile-menu">
              <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
                <ngb-panel title="One" id="config-panel-one">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="Two">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
