<header id="header">
  <div class="col-lg-12">
    <div class="">
      <div class="row">
        <nav class="navbar navbar-expand-lg justify-content-end">
          <div class="logo-section">
            <a href="" routerLink="" class="navbar-brand">
              <div class="logo-imgdesc">
              </div>
            </a>
          </div>
          <div class="menu-toggle responsive-menu">
            <div class="menu-close" (click)="changeClasses()"><span class="bar"></span><span class="bar"></span><span
              class="bar"></span></div>
          </div>
          <div id="menu" class="collapse navbar-collapse">
            <div class="menu-sec">
              <ul class="nav navbar-nav mr-0">
                <li (mouseover)="menuOpen()" (mouseout)="menuClose()" class="nav-item dropdown" *ngFor="let i of submenu">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">{{i.main_title}}</a>
                  <ul class="dropdown-menu" [ngClass]='{"active": menuOpened === true}'>
                    <li>
                      <div class="submenu-content">
                        <div class="row">
                          <div class="col-md-7 divider prod-left">
                            <div class="left-submenu-image">
                              <img src="{{i.submenu_img}}" class="serv-blue"/>
                              <h4>{{i.submenu_title}}</h4>
                              <div class="prod-desc">
                                <p>{{i.submenu_desc}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 divider prod-list">
                            <ul>
                              <li [ngClass]='{"active": "/"+item.link === router.url}' *ngFor="let item of i.submenu">
                                <a href="#" routerLink="/{{item.link}}" (click)="changeClasses()">
                                  <div class="icon">
                                    <img src="{{item.icon}}"/>
                                  </div>
                                  <div class="submenu-title">
                                    {{item.title}}
                                    <span>{{item.abbr}}</span>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div id="mobile-menu">
              <ngb-accordion #acc="ngbAccordion">
                <ngb-panel title="{{i.main_title}}" *ngFor="let i of submenu">
                  <ng-template ngbPanelContent>
                    <ul>
                      <li [ngClass]='{"active": "/"+item.link === router.url}' *ngFor="let item of i.submenu">
                        <a href="#" routerLink="/{{item.link}}" (click)="changeClasses()">
                          <div class="icon">
                            <img src="{{item.icon}}"/>
                          </div>
                          <div class="submenu-title">
                            {{item.title}}
                            <span>{{item.abbr}}</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
