<header id="header" (scroll)="stickyHeader($event)">
  <div class="col-lg-12">
    <div class="">
      <div class="row">
        <nav class="navbar navbar-expand-lg justify-content-end">
          <div class="logo-section">
            <a href="" routerLink="/" routerLinkActive="active" class="navbar-brand">
              <div class="logo-imgdesc">
              </div>
            </a>
          </div>
          <div class="menu-toggle visible-xs">
            <div class="menu-close" (click)="changeClass($event)"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div>
          </div>
          <div id="menu" class="collapse navbar-collapse" (onclick)="changeClass($event)">
            <div class="menu-sec">
                <ul class="nav navbar-nav mr-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">Products</a>
                    <ul class="dropdown-menu animation">
                      <li>
                        <div class="submenu-content">
                          <div class="row">
                            <div class="col-md-3 divider" *ngFor="let item of submenu">
                              <div class="submenu-list">
                                <ul>
                                  <li>
                                    <img src="../../assets/images/all.png" />
                                    <a href="#">
                                      {{item.title}}
                                      <span>{{item.abbr}}</span>
                                    </a>
                                    <div class="submenu-desc">
                                      <span>{{item.description}}</span>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Shared Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Training & Knowledge</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item" style="display:none">
                    <a class="nav-link" href="#" [routerLink]="'/home2'">Home 1</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
