<footer class="footer">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 foo-cont">
          <div class="foo-logo">
            <a href="">
              <img src="../../assets/images/cibc.svg"/>
            </a>
          </div>
          <p class="contacts"><a href="mailto:contact@cibc.com">contact@cibc.com</a></p>
          <p><a href="tel:8885553456">888.555.3456</a></p>
          <div class="foo-logodesc">
            <span>CIBC Capital Markets</span>
            <span>Application Engineering 2019</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 foo-cont"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 foo-cont">
          <div class="foo-logo">Navigate</div>
          <nav>
            <a href="#">Products</a>
            <a href="#">Shared Services</a>
            <a href="#">Training &amp; Knowledge</a>
            <a href="#">News &amp; Blog</a>
            <a href="#">Contact Us</a>
          </nav>
        </div>
      </div>
  </div>
</footer>
