<canvas id="canvas"></canvas>
<div class="home-cont">
  <div>
    <div class="container pad0">
      <h4 class="h4">Engineering Collaboration center</h4>
      <h1 class="h1">Collaborate, Learn and Evolve.</h1>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
        <p>Welcome. CIBC Capital Markets Application Engineering provides concept and goals, which are mostly engaging, helping and consulting other teams to use the best architecture, follow best practices all using the right tools. In addition we take over the project and implement it from A-Z. We also own and offer products that will enhance your application development.</p>
      </div>
    </div>
  </div>
</div>
<app-left-cont-right-image></app-left-cont-right-image>
<app-technologies></app-technologies>
<app-talk-to-us></app-talk-to-us>
<app-services></app-services>
<app-news-blog></app-news-blog>
