<div class="talk-to-us" id="04">
  <div class="talk-title col-lg-10 col-md-10 col-sm-10 offset-md-1">
    <h2>Talk to us about we can help</h2>
    <button class="buttonfx">Say Hello</button>
  </div>
</div>
<div class="left-imge">
  <div class="right-bg">
    <div class="container bef-aft sec-right pad0">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 left-image">
          <div class="box-3" data-hover="box3"></div>
          <div class="left-img" data-hover="feature">
            <div class="img-feature">
              <div class="img">
                <img src="../../assets/images/computer.jpg" srcset="../../assets/images/computer.jpg 600w, ../../assets/images/computer.jpg 1200w" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 right-text">
          <div class="right-cont">
            We also own and offer the following products to be used on other Capital Market applications
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
