<div id="template-one">
  <section id="sec-one">
    <div class="container p-0">
      <div class="row m-0">
        <div class="sec1">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sec-one-cont">
            <div class="sec-one-title">
              <h2>Shared Services</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
          <div class="box01"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-two">
    <div class="sec2">
      <div class="row m-0">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 sec2-left p-0">
          <div class="sec2-img"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sec2-right">
          <div class="sec2-right-cont">
            <h3>Messaging</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="sec2-right-cont">
            <h3>Integration</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-three">
    <div class="container p-0">
      <div class="row m-0">
        <div class="sec3">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sec-three-cont">
            <div class="sec-three-title">
              <h2>Shared Services</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-four">
    <div class="container p-0">
      <div class="sec4">
        <div class="row m-0">
          <a class="col-lg-4 col-md-4 com-sm-12 col-xs-12 blocks" data-slug="" href="#">
            <div>
              <div class="sec4-block">
                <span style="font-size: 0px;"></span>
                <div class="sec4-block-image" height="">
                  <img class="sec4-img" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" aria-hidden="true">
                </div>
              </div>
              <div class="sec4-cont">
                <strong>Web Development</strong>
                <span>Sub Title</span>
              </div>
            </div>
          </a>
          <a class="col-lg-4 col-md-4 com-sm-12 col-xs-12 blocks" data-slug="" href="#">
            <div>
              <div class="sec4-block">
                <span style="font-size: 0px;"></span>
                <div class="sec4-block-image" height="">
                  <img class="sec4-img" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" aria-hidden="true">
                </div>
              </div>
              <div class="sec4-cont">
                <strong>Mobile Development</strong>
                <span>Sub Title</span>
              </div>
            </div>
          </a>
          <a class="col-lg-4 col-md-4 com-sm-12 col-xs-12 blocks" data-slug="" href="#">
            <div>
              <div class="sec4-block">
                <span style="font-size: 0px;"></span>
                <div class="sec4-block-image" height="">
                  <img class="sec4-img" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" aria-hidden="true">
                </div>
              </div>
              <div class="sec4-cont">
                <strong>Cloud</strong>
                <span>Sub Title</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-five">
    <div class="container p-0">
      <div class="sec5">
        <div class="row m-0">
          <div class="col-lg-5 col-md-5 col-sm-12 colxs-12 sec5-left">
            <h2>Micro Serives</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 colxs-12 sec5-right">
            <div class="sec5-right-cont">
              <div>1</div>
              <h3>Cloud Setup</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="sec5-right-cont">
              <div>2</div>
              <h3>Deployment</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-six">
    <div class="container p-0">
      <div class="sec6">
        <div class="row m-0">
          <div class="sec6-techs col-lg-4 col-md-4 com-sm-12 col-xs-12">
            <h4>Training</h4>
            <ul>
              <li><a href="#">Training Materials</a></li>
              <li><a href="#">White Papers</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </div>
          <div class="sec6-techs col-lg-4 col-md-4 com-sm-12 col-xs-12">
            <h4>Mobile</h4>
            <ul>
              <li><a href="#">Training Materials</a></li>
              <li><a href="#">White Papers</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </div>
          <div class="sec6-techs col-lg-4 col-md-4 com-sm-12 col-xs-12">
            <h4>Cloud</h4>
            <ul>
              <li><a href="#">Training Materials</a></li>
              <li><a href="#">White Papers</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
