@import '../../../styles/vairable';
#section-one{
  position: relative;
  padding: 6rem 0 4rem;
  background: $white;
  @media screen and (max-width: 640px){
    padding: 6rem 15px 4rem;
  }
  & .sec-title{
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    position: relative;
    color: $grey;
    & h1{
      display: inline-block;
      position: relative;
      transform-origin: left center;
      animation: 400ms cubic-bezier(0.23, 1, 0.32, 1) 800ms 1 normal backwards running h1;
    }
    & .h1 {
      color: $grey;
      font-size: 3.2358em;
      font-weight: bold;
      line-height: 1.15;
      margin-bottom: 0.5em;
      margin-top: 0.25em;
      &::after{
        bottom: 0px;
        content: "";
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        transform: scale(0, 1);
        transform-origin: right center;
        animation: 400ms cubic-bezier(0.23, 1, 0.32, 1) 1100ms 1 normal backwards running h1aft;
        background: $grey;
      }
    }
  }
  & .sec1-menu{
    position: relative;
    & nav{
      display: flex;
      justify-content: space-between;
      & ul{
        padding: 0;
        display: flex;
        & li{
          list-style: none;
          line-height: 38px;
          margin-right: 22px;
          letter-spacing: 1px;
          font-size: 1rem;
          text-transform: uppercase;
          @media screen and (max-width: 640px){
            margin-right: 10px;
          }
          & a{
            text-decoration: none;
            color: $grey;
            opacity: 0.6;
            @media screen and (max-width:640px){
              font-size: .6em;
            }
            &:hover{
              opacity: 1;
            }
          }
        }
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
      & .sec1-search{
        line-height: 38px;
      }
    }
  }
}
#section-three{
  padding: 2rem 0 4rem;
  position: relative;
  background: $white;
  & .blog-list{
    & h4{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0 auto 3rem;
      padding-bottom: 1rem;
      display: block;
      width: 98%;
      opacity: 0.5;
    }
    & .blog-list-sec{
      cursor: pointer;
      & .blg-cont{
        height: 100%;
        position: relative;
        z-index: 5;
        overflow: hidden;
        & .blog-sub-cont{
          & h3{
            margin: 1rem 0;
          }
          & p{
            opacity: 0.5;
          }
        }
        & .news-right-user {
          display: flex;
          align-items: center;
          padding: 2rem 0;
          & .news-user-image{
            border: 1px solid $grey;
            border-radius: 50%;
            background: $bgGrey;
            padding: 10px;
          }
          & .news-user-det{
            font-size: 16px;
            line-height: 1.4;
            padding-left: 10px;
            text-rendering: auto;
            & .news-posted{
              & span{
                font-size: 0.8rem;
                opacity: 0.6;
                &.dot{
                  padding: 0 .3em;
                  &:after{
                    content: '\00B7';
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#template-two{
  background: $white;
  & h4{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto 3rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: block;
    width: 96%;
    opacity: 0.5;
  }
}
