particles{
  min-height: 100vh;
  animation: 0s ease 400ms 1 normal backwards running iokzry;
  // background: rgb(50, 50, 49);
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.home-cont{
  position: relative;
}
.home-cont{
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  // grid-template-columns: repeat(16, 1fr);
  min-height: 100vh;
  position: relative;
  color: #fff;
  // z-index: -99;
  &>div{
    width: 79%;
    margin: 8rem auto 4rem;
    position: relative;
    z-index: 99;
  }
  & h1{
    display: inline-block;
    position: relative;
    transform-origin: left center;
    animation: 400ms cubic-bezier(0.23, 1, 0.32, 1) 800ms 1 normal backwards running h1;
  }
  & .h1 {
    color: rgb(251, 250, 249);
    font-size: 4.2358em;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
    &::after{
      bottom: 0px;
      content: "";
      left: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
      transform: scale(0, 1);
      transform-origin: right center;
      animation: 400ms cubic-bezier(0.23, 1, 0.32, 1) 1100ms 1 normal backwards running h1aft;
      background: rgb(251, 250, 249);
    }
  }
  & p{
    font-size: 1.272em;
    color: rgb(187, 187, 187);
  }
  & h4{
    font-size: 0.618em;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-bottom: 0.75em;
    margin-top: 0px;
    opacity: 0.5;
    text-transform: uppercase;
  }
  & .h4, p{
    animation: 800ms ease 1300ms 1 normal backwards running image;
  }
}
