<div class="technologies sect">
  <div class="tech-cont col-lg-8 col-md-8 col-sm-8 offset-md-3">
      <h2>CIBC Capital Markets Proven Technologies</h2>
      <div class="col-lg-7 col-md-7 col-sm7 pad0">
        <p>From design to launch, CIBC Capital Markets provides expert application engineering services. Visit the Product and Shared Services pages for a detailed view of our services.</p>
      </div>
  </div>
</div>
<div class="techn techn-list">
  <div class="tech-list col-lg-9 col-md-9 col-sm-9 offset-md-2">
    <div class="row">
      <div class="tech-img col-lg-4 col-md-4 col-sm-4 pad0">
        <img src="../../../assets/images/opinion.svg"/>
      </div>
      <div class="tech-content col-lg-6 col-md-6 col-sm-6 pad0">
        <h3>Messaging and integration : (Solace)</h3>
        <p>The Solace platform is an advanced event broker technology that supports pub/sub, queuing, request/reply, streaming and replay, and that's available through a purpose-built hardware and a managed services.</p>
      </div>
    </div>
    <div class="row">
      <div class="tech-img col-lg-4 col-md-4 col-sm-4 pad0">
        <img src="../../../assets/images/investment.svg"/>
      </div>
      <div class="tech-content col-lg-6 col-md-6 col-sm-6 pad0">
        <h3>Microservices and API design and Development(Java / Spring boot, GoLang)</h3>
        <p>Microservices are a software development technique that structures an application as a collection of loosely coupled services. API is a set of functions and procedures allowing the creation of applications that access the features or data of an operating system, application, or other service. Our dedicated teams design, develop and deploy API's. Learn more:</p>
        <ul>
          <li><img src="../../../assets/images/java-icon.png" width="80" /></li>
          <li><img src="../../../assets/images/spring.png" width="120" /></li>
          <li><img src="../../../assets/images/golang.png" width="120" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="tech-img col-lg-4 col-md-4 col-sm-4 pad0">
        <img src="../../../assets/images/analysis.svg"/>
      </div>
      <div class="tech-content col-lg-6 col-md-6 col-sm-6 pad0">
        <h3>Middle Tier design and Development (Java / Spring boot)</h3>
        <p></p>
        <ul>
          <li><img src="../../../assets/images/java-icon.png" width="80" /></li>
          <li><img src="../../../assets/images/spring.png" width="120" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="tech-img col-lg-4 col-md-4 col-sm-4 pad0">
        <img src="../../../assets/images/heatmap.svg"/>
      </div>
      <div class="tech-content col-lg-6 col-md-6 col-sm-6 pad0">
        <h3>Web Development (Angular / HTML / CSS)</h3>
        <p>Angular is an open-source framework (not a library!) that uses MVVM pattern as a basis for dynamic single-page web applications. Created by Google and backed by a large community, Angular is centered on delivering a perfect dynamic user experience. With Angular's help, developers can launch apps on any level of complexity and easily maintain them.</p>
        <ul>
          <li><img src="../../../assets/images/angular.png" width="80" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="tech-img col-lg-4 col-md-4 col-sm-4 pad0">
        <img src="../../../assets/images/mobile.svg"/>
      </div>
      <div class="tech-content col-lg-6 col-md-6 col-sm-6 pad0">
        <h3>Mobile Development (Flutter)</h3>
        <p>Flutter is an open-source mobile application development framework created by Google. It is used to develop applications for Android and iOS, as well as being the primary method of creating applications for Google Fuchsia</p>
        <ul>
          <li><img src="../../../assets/images/flutter.png" width="80" /></li>\
        </ul>
      </div>
    </div>
  </div>
</div>
