<!-- <div id="video-bg">
  <video preload="yes" autoplay loop muted playsinline id="myVideo">
    <source src="../../assets/videos/ae_particles.mp4" type="video/mp4">
    <source src="../../assets/videos/ae_particles.ogg" type="video/ogg">
  </video>
</div>
<script>
    document.getElementById('myVideo').play();
</script> -->
<script>
    $('[data-youtube]').youtube_background();
  </script>
<div class="youtube-background" style="height: 100%; width: 100%; z-index: 0; position: absolute; overflow: hidden; top: 0px; left: 0px; bottom: 0px; right: 0px; pointer-events: none; min-height: 100vh">
  <img id="video-cover" src="https://i.ytimg.com/vi/uKk5lKFZdyw/maxresdefault.jpg" alt="Video title">
  <!-- <iframe id="ytbg" data-youtube="https://www.youtube.com/watch?v=uKk5lKFZdyw" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="1920" height="1080" src="https://www.youtube.com/embed/uKk5lKFZdyw?controls=0&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;rel=0&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=1&amp;playlist=uKk5lKFZdyw" style="position: absolute; top: -58px; bottom: 0px; left: 0px; right: 0px; width: 5760px; height: 3240px;"></iframe> -->
  <iframe id="ytbg" data-youtube="https://www.youtube.com/watch?v=uKk5lKFZdyw" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="1920" height="1080" src="https://www.youtube.com/embed/uKk5lKFZdyw?controls=0&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;rel=0&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=1&amp;playlist=uKk5lKFZdyw" style="top: 0%; left: 50%; transform: translateX(-50%) translateY(-13%); position: absolute; width: 100%; background: #fff;"></iframe>
</div>
<div class="home-cont" id="01">
  <div>
    <div class="container pad0">
        <h4 class="h4"><span>Application </span><span>Engineering </span><span>Collaboration center</span></h4>
      <h1 class="h1">Collaborate, Learn and Evolve.</h1>
      <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 pad0">
          <p>CIBC Capital Markets Application Engineering team promotes engagement through collaborative consulting to solve challenges, use best practices and leverage industry forward technologies.  We also take on development initiative and offer/implement products that will enhance your architecture.</p>
      </div>
      <!-- <div class="video-right">
          <video autoplay muted loop id="myVideo">
            <source src="../../assets/videos/collaboration_animation_header.mp4" type="video/mp4">
          </video>
      </div> -->
    </div>
  </div>
</div>
<app-left-cont-right-image></app-left-cont-right-image>
<app-technologies></app-technologies>
<app-talk-to-us></app-talk-to-us>
<app-services></app-services>
<app-news-blog></app-news-blog>
