<!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
<div id="container">
  <canvas id="canvas"></canvas>
</div>
<div class="home-cont" id="01">
  <div>
    <div class="container pad0">
      <h4 class="h4"><span>Application </span><span>Engineering </span><span>Collaboration center</span></h4>
      <h1 class="h1">Collaborate, Learn and Evolve.</h1>
      <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 pad0">
        <p>CIBC Capital Markets Application Engineering team promotes engagement through collaborative consulting to solve challenges, use best practices and leverage industry forward technologies.  We also take on development initiative and offer/implement products that will enhance your architecture.</p>
      </div>
    </div>
    <!-- <div class="arrow"></div> -->
  </div>
</div>
