<div id="template-three">
  <section id="section-one">
    <div class="sec1-cont">
        <div class="sec1-head">
          <div class="container p-0">
            <h4 class="h4"><span>Application </span><span>Engineering </span><span>Collaboration center</span></h4>
            <h1 class="h1">Main Title</h1>
            <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 p-0">
                <p>CIBC Capital Markets Application Engineering team promotes engagement through collaborative consulting to solve challenges, use best practices and leverage industry forward technologies.</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="section-two">
    <div class="row m-0">
      <div class="container p-0">
        <div class="sec2">
          <div class="sec2-tech">
            <div class="sec2-tech-cont">
              <div class="sec2-tech-img">
                <div class="tech-img">
                  <img class="sec2-img" src="https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-three">
    <div class="container p-0">
      <div class="sec3-tech">
        <div class="row m-0">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 sec3-left">
            <h2>Technology</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 sec3-right">
            <div class="sec3-right-cont">
              <div>1</div>
              <h3>Training</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="sec3-right-cont">
              <div>2</div>
              <h3>Support</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-four">
    <div class="container p-0">
      <div class="sec4-tech-content p-0">
        <div class="sec4-background">
          <div class="row m-0">
            <div class="col-lg-6 col-md-6 col-sm-8"></div>
            <div class="col-lg-6 col-md-6 col-sm-4">
              <div class="sec4-right-img">
                <div class="sec4-rigt-image">
                  <img class="sec4-img" src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" aria-hidden="true"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-five">
    <div class="container p-0">
      <div class="sec5-tech">
        <h4>Framework</h4>
        <h2>Open Source Web</h2>
        <div class="row m-0">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sec5-left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sec5-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-six">
    <div class="sec6-tech">
      <div class="row m-0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sec6-left p-0">
          <div class="sec6-tech-image"></div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 sec6-right">
          <h4>Sub Title</h4>
          <h2>Implementation</h2>
          <div class="sec6-right-cont">
              <h3>Architectural</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="sec6-right-cont">
            <h3>Design Pattern</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
