<div class="news blog" id="07">
  <div class="news-sec news-cont">
    <div class="container">
      <h4>Stay current with CIBC</h4>
      <h2>News &amp; Blog</h2>
      <div class="blog-bg">
        <div class="row">
          <div class="boxpink2" data-hover="smpink" style="background:#DE638B"></div>
          <div class="col-lg-6 col-md-6 col-sm-12 pad0 news-image">
            <div class="news-img">
                <img src="../../assets/images/news.jpg"/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 pad0 nws-cont">
            <div class="news-content col-lg-9 col-md-9 col-sm-12 offset-md-1">
                <div class="news-right-user">
                  <div class="news-user-det">
                    <a href="#">CIBC User</a>
                    <div class="news-posted">
                      <span>Oct 20</span>
                    </div>
                  </div>
                </div>
              <h3>CIBC Expands the leadership team</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blg blog-content">
    <div class="container">
      <div class="row">
        <div class="boxpink3" data-hover="smpink" style="background:#DE638B"></div>
        <div class="blog-sec col-lg-4 col-md-4 col-sm-12" *ngFor="let b of blog">
          <div class="blg-cont">
            <div class="blg-img">
              <img src="{{b.image}}" />
            </div>
            <div class="blog-sub-cont">
              <h3>{{b.title}}</h3>
              <p>{{b.content}}.</p>
            </div>
            <div class="news-right-user">
              <div class="news-user-image">
                <a href="#"><img src="../../../../assets/icons/user.svg"></a>
              </div>
              <div class="news-user-det">
                <a href="#">CIBC User</a>
                <div class="news-posted">
                  <span>Oct 20</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
