#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
}
.home2e-particles{
  position: relative;
  background: #fff;
}
.home-cont{
  position: relative;
  & .video-right{
    position: relative;
    position: absolute;
    float: left;
    display: block;
    width: 46%;
    top: -12px;
    // top: 0;
    right: 0;
    z-index: 0;
    & #myVideo{
      width: 100%;
    }
    & img{
      width: 100%;
    }
  }
}
.home-cont{
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  // min-height: 70vh;
  position: relative;
  color: #fff;
  // z-index: -99;
  &>div{
    width: 79%;
    @media screen and (max-width: 640px){
      width: 79%;
      margin: 8rem auto 4rem !important;
    }
    @media screen and (min-width:1800px){

    }
    margin: 12rem auto 8rem;
    position: relative;
    z-index: 99;
  }
  & h1{
    display: inline-block;
    position: relative;
    transform-origin: left center;
    animation: 400ms cubic-bezier(0.23, 1, 0.32, 1) 800ms 1 normal backwards running h1;
  }
  & .h1 {
    color: #333;
    @media screen and (min-width: 991px) and (max-width: 1600px){
      font-size: 3.2358em;
    }
    @media screen and (min-width:1800px){
      font-size: 4.2358em;
    }
    font-size: 3.8358em;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
    z-index: 1;
    &::after{
      bottom: 0px;
      content: "";
      left: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
      transform: scale(0, 1);
      transform-origin: right center;
      animation: 400ms cubic-bezier(0.23, 1, 0.32, 1) 1100ms 1 normal backwards running h1aft;
      background: #444;
    }
  }
  & p{
    font-size: 1.272em;
    color: #333;
  }
  & h4{
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin-bottom: 0.75em;
    margin-top: 0px;
    opacity: 0.5;
    text-transform: uppercase;
    color: #333;
    & span{
      &:nth-child(1){
        animation: 800ms ease-in 1s 1 normal backwards running image;
      }
    }
    & span{
      &:nth-child(2){
        animation: 1300ms ease-in 1.5s 1 normal backwards running image;
      }
    }
    & span{
      &:nth-child(3){
        animation: 1800ms ease-in 2.5s 1 normal backwards running image;
      }
    }
  }
  & .h4, p{
    animation: 800ms ease 1300ms 1 normal backwards running image;
  }
}
