<div id="02">
  <div class="left-bg">
    <div class="container bef-aft sec-left pad0">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 left-text">
          <div>
            <!-- <h2>{{left_title}}</h2> -->
            <h2>Let's collaborate</h2>
            <!-- <div class="left-cont">{{left_content}}</div> -->
            <div class="left-cont">
              <p>The CIBC Capital Markets team offers full-scale software engineering services which help new or existing applications fulfill their needs at any stage in the application lifecycle. We offer a variety of reference implementations and a collection of best practices. Our capabilities extend to all teams in any or all of the following stages:</p>
              <ul>
                <li>Application concept, business cases and release planning</li>
                <li>Application Architecture and Design</li>
                <li>Business requirements analysis</li>
                <li>Business and technical specification</li>
                <li>Development</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 right-image">
          <div class="box-1" data-hover="box1"></div>
          <div class="box-2" data-hover="box2"></div>
          <div class="right-img" data-hover="feature">
            <div class="img-feature">
              <div class="img">
                <img src="../../assets/images/collaborate.jpg" srcset="../../assets/images/collaborate.jpg 600w, ../../assets/images/collaborate.jpg 1200w"/>
              </div>
            </div>
            <!-- <img src="../../assets/images/{{right_image}}.jpg" srcset="../../assets/images/{{right_image}}.jpg 600w, ../../assets/images/{{right_image}}.jpg 1200w"/> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
