// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
$white : #fff;
$grey : #333;
$lightgrey: #d4d4d4;
html body{
  font-family: 'Questrial', sans-serif;
}
#app{}
.responsive-menu, #mobile-menu{
  display: none !important;
}
@media screen and (max-width: 1024px){
  .responsive-menu{
    display: block !important;
  }
  #menu{
    display: none !important;
  }
}
body{
  background: transparent;
  height: 100%;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

#canvas {
  @media screen and (max-width: 767px){
    width: 100%;
    height: 100vh !important;
  }
}

h2{
  font-size: 2.6179em;
  margin: 10px 0 20px 0;
  @media screen and (max-width: 640px){
    font-size: 8vw !important;
  }
}
@media screen and (max-width:640px){
  h3{
    font-size: 5vw !important;
  }
}
ul li, p{font-size: 18px;}
.pad0{
  padding:0;
  @media screen and (max-width:640px){
    padding: 0 15px;
  }
}
.box-1{
  display: block;
  height: 2rem;
  position: absolute;
  right: 6.25vw;
  top: -3rem;
  transform-origin: right center;
  width: 2rem;
  will-change: transform;
  z-index: 20;
  animation: 800ms cubic-bezier(0.23, 1, 0.32, 1) 0s 1 normal both running box;
}
.box-1 {
  height: 3rem;
  top: -5rem;
  width: 3rem;
  background: #DE638B;
  @media screen and (max-width: 640px){
    display: none;
  }
}
.box-2{
  bottom: -13rem;
  display: none;
  height: 6rem;
  left: 1rem;
  position: absolute;
  transform-origin: left center;
  width: 6rem;
  will-change: transform;
  z-index: 20;
  animation: 800ms cubic-bezier(0.23, 1, 0.32, 1) 100ms 1 normal both running boxbig;
  @media screen and (max-width: 640px){
    bottom: -9rem;
  }
}
.box-2{
  display: block;
  // background: #DE638B;
}
.boxpink{
  bottom: 0px;
  display: block;
  height: 2rem;
  left: -2rem;
  pointer-events: none;
  position: absolute;
  transform-origin: center bottom;
  width: 2rem;
  will-change: transform;
  z-index: 20;
  animation: 800ms cubic-bezier(0.23, 1, 0.32, 1) 100ms 1 normal both running smallbox;
}
.boxpink2{
  bottom: 0px;
  display: block;
  height: 3rem;
  left: -4.5rem;
  pointer-events: none;
  position: absolute;
  transform-origin: center bottom;
  width: 3rem;
  will-change: transform;
  z-index: 20;
  animation: 800ms cubic-bezier(0.23, 1, 0.32, 1) 100ms 1 normal both running smallbox;
}
.boxpink3{
  bottom: 0px;
  display: block;
  height: 5rem;
  right: 3rem;
  pointer-events: none;
  position: absolute;
  transform-origin: center bottom;
  width: 5rem;
  will-change: transform;
  z-index: 20;
  animation: 800ms cubic-bezier(0.23, 1, 0.32, 1) 100ms 1 normal both running smallbox;
  @media screen and (min-width: 768px) and (max-width:1024px){
    bottom: -50px;
  }
  @media screen and (min-width: 1025px) and (max-width:1199px){
    bottom: -50px;
  }
  @media screen and (min-width: 1200px) and (max-width:1400px){
    bottom: -50px;
  }
}
button{
  background: $grey;
  color: $white;
  width: 200px;
  height: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.buttonfx{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: $grey;
  border: none;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: $pink;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover{
    &:before{
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
}
@-webkit-keyframes fadeIn {
  0%   { opacity: 0;  transform: translate3d(0,40px,0); }
  100% { opacity: 1; transform: translate3d(0,0,0); }
}
@-ms-keyframes fadeIn{
  0%   { opacity: 0;  transform: translate3d(0,40px,0); }
  100% { opacity: 1; transform: translate3d(0,0,0); }
}
@keyframes box1{
  5%{-webkit-transform:translateX(-6.25vw);-ms-transform:translateX(-6.25vw);transform:translateX(-6.25vw);}
}
@-ms-keyframes box1{
  5%{-webkit-transform:translateX(-6.25vw);-ms-transform:translateX(-6.25vw);transform:translateX(-6.25vw);}
}
@keyframes box2{
  5%{-webkit-transform:translateX(6.25vw);-ms-transform:translateX(6.25vw);transform:translateX(6.25vw);}
}
@-ms-keyframes box2{
  5%{-webkit-transform:translateX(6.25vw);-ms-transform:translateX(6.25vw);transform:translateX(6.25vw);}
}
@keyframes box{
  from{width: 0;}
  to{right: 6.25vw}
}
@-ms-keyframes box{
  from{width: 0;}
  to{right: 6.25vw}
}
@keyframes boxbig{
  from{width: 0;}
  to{left: 1vw}
}
@-ms-keyframes boxbig{
  from{width: 0;}
  to{left: 1vw}
}
@keyframes box03{
  from{width: 0;}
  to{right: 1rem}
}
@-ms-keyframes box03{
  from{width: 0;}
  to{right: 1rem}
}
@keyframes box3{
  5%{-webkit-transform:translateX(-6.25vw);-ms-transform:translateX(-6.25vw);transform:translateX(-6.25vw);}
}
// @keyframes LjGCg{
//   5%{-webkit-transform:translateX(-6.25vw);-ms-transform:translateX(-6.25vw);transform:translateX(-6.25vw);
// }
@-ms-keyframes box3{
  5%{-webkit-transform:translateX(-6.25vw);-ms-transform:translateX(-6.25vw);transform:translateX(-6.25vw);}
}
@keyframes image{
  from{opacity:0;}
}
@-ms-keyframes image{
  from{opacity:0;}
}
@keyframes h1{
  from{
    -webkit-transform:scale(0,1);
    -ms-transform:scale(0,1);
    transform:scale(0,1);
  }
}
@-ms-keyframes h1{
  from{
    -webkit-transform:scale(0,1);
    -ms-transform:scale(0,1);
    transform:scale(0,1);
  }
}
@keyframes h1aft{
  from{-webkit-transform:scale(1,1);
  -ms-transform:scale(1,1);
  transform:scale(1,1);}
}
@-ms-keyframes h1aft{
  from{-webkit-transform:scale(1,1);
  -ms-transform:scale(1,1);
  transform:scale(1,1);}
}
@-webkit-keyframes smallbox{
  0%{-webkit-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0);}
}
@keyframes smallbox{
  0%{-webkit-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0);}
}
@-ms-keyframes smallbox{
  0%{-webkit-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0);}
}
@-webkit-keyframes movepinkbox{
  5%{-webkit-transform:translateY(-3.125vw);-ms-transform:translateY(-3.125vw);transform:translateY(-3.125vw);}
}
@keyframes movepinkbox{
  5%{-webkit-transform:translateY(-3.125vw);-ms-transform:translateY(-3.125vw);transform:translateY(-3.125vw);}
}
@-ms-keyframes movepinkbox{
  5%{-webkit-transform:translateY(-3.125vw);-ms-transform:translateY(-3.125vw);transform:translateY(-3.125vw);}
}
@keyframes arrow{
  0%{opacity: 1;}100%{opacity: 0;transform: translate(-10px, -10px);}
}
@-ms-keyframes arrow{0%{opacity: 1;}100%{opacity: 0;transform: translate(-10px, -10px);}}
@-webkit-keyframes techn{
  0%{-webkit-transform:translateY(25vw);-ms-transform:translateY(25vw);transform:translateY(25vw);}
}
@keyframes techn{
  0%{-webkit-transform:translateY(25vw);-ms-transform:translateY(25vw);transform:translateY(25vw);}
}
@-ms-keyframes techn{
  0%{-webkit-transform:translateY(25vw);-ms-transform:translateY(25vw);transform:translateY(25vw);}
}

.home{
  .buttonfx{
    &:before{
      background: $grey !important;
    }
  }
  & .left-bg{
    & .right-image{
      & .box-2{
        bottom: -9rem !important;
      }
    }
  }
  & .sect{
    background-color: $white !important;
    & .tech-cont{
      &:before{
        background-color: $white !important;
      }
    }
    & h2{
      color: $grey !important;
    }
  }
  & .technologies{
    & .tech-cont{
      & p{
        color: $grey !important;
      }
    }
  }
  & .techn-list{
    background: $white !important;
    & .tech-list{
      & h3{
        color: $grey !important;
      }
      & p{
        color: $grey !important;
      }
      & .row{
        &:nth-child(4){
          & img{
            padding-left: 10px;
          }
        }
        &:nth-child(5){
          & img{
            padding-left: 10px;
          }
        }
      }
    }
  }
  & .talk-to-us{
    background-color: $grey !important;
    background-image: none !important;
    & .talk-title{
      display: block !important;
      text-align: center !important;
      & h2{
        color: $white !important;
        text-align: center;
        margin-bottom: 30px !important;
      }
    }
  }
  & .solutions{
    background: $white !important;
  }
  & .portfl{
    &:before{
      height: 10.2rem !important;
      top: 0 !important;
    }
  }
}

.home{
  // section 2
  & .left-bg{
    &:after{
      background: #fbfaf9 !important;
    }
    &:before{
      display: none;
    }
    & .right-image{
      & .box-1{
        background: #BFE895 !important;
      }
      & .box-2{
        background: #8BC4E4 !important;
      }
    }
    & .sec-left{
      & .left-text{
        & h2, p, li {
          color: $grey !important;
        }
      }
    }
  }
}

.home{
  & .blog{
    & h4{
      font-size: 16px !important;
    }
  }
  & .news-user-det{
    & a{
      color: #8BC4E4 !important;
    }
  }
  & .buttonfx, .box-1, .box-2, .box-3, .boxpink, .boxpink2, .boxpink3{
    background: #8BC4E4 !important;
  }
  & .sect{
    & .tech-cont{
      &:before{
        background: url('../src/assets/images/circle-blue.svg') center top/contain no-repeat !important;
      }
    }
  }
  .portfl{
    .portf-cont{
      &:before{
        background: url('../src/assets/images/circle-blue.svg') center top/contain no-repeat !important;
      }
    }
  }
  & .solutions{
    & .portf{
      &:after{
        background: #8BC4E4 !important;
      }
    }
  }
}

// shared-services page css
.shared-services, .news{
  & header{
    & .logo-imgdesc{
      background: url('../src/assets/images/ae_logo-black.png') no-repeat !important;
      background-size: 100% !important;
    }
    & #menu{
      & .nav{
        & .nav-link{
          color: $grey !important;
          &:after{
            border-right: 1px solid $grey;
            border-bottom: 1px solid $grey;
          }
        }
      }
    }
  }
}
.technology, .shared-services, .news, .home{
  & header{
    & .menu-toggle{
      & .menu-close{
        & .bar{
          background-color:$grey !important;
        }
      }
    }
  }
}
// media queries
@media screen and (max-width:640px){
  // home2b, home2c, home2d
  #menu{
    &.open{
      & .nav{
        padding: 0 !important;
      }
      & .dropdown{
        &.open{
          display: block;
          & a{
            &:after{
              transition: transform 0.2s;
              vertical-align: middle;
            }
          }
          & .dropdown-menu{
            &.submenu{
              display: block !important;
            }
            position: relative !important;
            top: 0 !important;
            background: $lightgrey;
            height: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
        & .dropdown-menu{
          height: 0px;
          opacity: 1;
          visibility: hidden;
          transform: height 0.2s ease-out;
          position: relative;
          padding: 0;
        }
      }
    }
    & .submenu-content{
      & .divider{
        & .submenu-list{
          & li{
            border-bottom: 1px solid #fbfbfb;
            & img{
              display: none;
            }
            & a{
              height: auto;
            }
            & span{
              display: none;
            }
            & .submenu-desc{
              display: none;
            }
          }
          &:last-child{
            border: 0;
          }
        }
        &:last-child{
          & li{
            border: none;
          }
        }
      }
    }
  }
  .pad0{
    padding: 0 20px !important;
  }
  // header
  .header{
    & .logo-section{
      padding-left: 16px !important;
    }
    & .logo-imgdesc{
      width: 240px !important;
    }
    & .menu-toggle{
      padding-right: 0.5rem;
      & .menu-close{
        margin: 0 8px 0 0 !important;
        width: 50px !important;
        padding: 10px !important;
      }
    }
  }

  // technologies
  .sect{
    & div{
      padding: 0 20px !important;
      & .pad0{
        padding: 0 !important;
      }
    }
  }
  .techn-list{
    & .tech-list{
      & .row{
        &:nth-child(2){
          & .tech-content{
            & img{
              width: 100% !important;
            }
          }
        }
      }
    }
  }
  // talk to us
  .talk-to-us{
    text-align: center;
    & .right-bg{
      background: $lightgrey !important;
    }
  }
  // services
  .services{
    background: linear-gradient(to top, $white 45%, $lightgrey 45%) !important;
    & .serv-sect{
      padding: 0 !important;
    }
  }
  .services{
    & p{
      color: $grey !important;
    }
  }
  // solutions
  .solutions{
    padding-top: 0 !important;
  }
  .portfl{
    &:before{
      height: 4rem !important;
    }
    & .portf-cont{
      padding: 0 20px !important;
      & .pad0{
        padding: 0 !important;
      }
    }
  }
  .news{
    & .news-sec{
      padding-top: 3rem !important;
      & >div{
        padding: 0 20px !important;
      }
    }
    & .blg{
      & .blog-sec{
        padding: 0 20px !important;
      }
    }
    & .blog-bg{
      & .pad0{
        padding: 0 !important;
      }
      & .nws-cont{
        padding: 20px !important;
        & .news-content{
          padding: 0 !important;
          top: 0 !important;
          & h3{
            margin-bottom: 15px !important;
          }
          & p{
            font-size: 0.8em !important;
          }
        }
      }
    }
  }
  // footer
  footer{
    & .foo-cont{
      padding: 0 20px !important;
    }
  }
}
// media query for screen size > 768 < 992
@media screen and (min-width: 768px) and (max-width:991px){
  .left-bg{
    & h2{font-size: 2.1em;}
    & p, li{font-size: 1em;}
    & .right-image{
      .box-2{
        bottom: -9em !important;
      }
    }
  }
  .sect{
    & .tech-cont{
      &:before{
        top: calc(-0.5rem - 2.75vw) !important;
      }
    }
  }
  .technologies{
    & h2{
      font-size: 2.1em !important;
    }
  }
  .tech-list{
    & .tech-content{
      & h3{
        font-size: 1.45em !important;
      }
      & p{
        font-size: 1em !important;
      }
    }
  }
  .right-bg{
    & .right-text{
      & .right-cont{
        font-size: 2rem !important;
        top: 7% !important;
      }
    }
  }
  .talk-to-us{
    & .talk-title{
      & h2{
        font-size: 2.5rem !important;
      }
    }
  }
  .services{
    & h3{
      font-size: 1.5rem !important;
      height: 85px !important;
    }
  }
  .solutions{
    & .portf{
      &:after{
        left: -17em !important;
      }
    }
  }
  .blog{
    & .blog-bg{
      & .nws-cont{
        & h3{
          font-size: 1.25em !important;
        }
        & p{
          font-size: 1em !important;
        }
        & .news-content{
          top: 0 !important;
        }
      }
      & .news-image{
        & .news-img{
          padding-top: 85% !important;
        }
      }
    }
    & .blog-content{
      & .blog-sec{
        & .blg-cont{
          & .blog-sub-cont{
            & h3{
              font-size: 1.25em !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (max-width:1024px){
  body.scroll{
    overflow: hidden;
    & header{
      background: #fbfaf9 !important;
    }
  }
}

// css for ie11, edge

@supports (-ms-ime-align: auto) {
  /* Microsoft EdgeV13&14 CSS styles go here */
  .home-cont{
    background: linear-gradient(to right, rgb(162, 207, 232) 30%, rgb(215, 243, 187) 70%) !important;
    display: block !important;
    @media screen and (max-width: 640px){
      background: linear-gradient(135deg, rgb(162, 207, 232) 30%, rgb(215, 243, 187) 70%) !important;
    }
    &>div{
      width: 79%;
      @media screen and (max-width: 640px){
        width: 79%;
        margin: 8rem auto 4rem !important;
      }
      @media screen and (min-width: 991px) and (max-width: 1400px){
        margin: 10rem auto 4rem !important;
      }
      @media screen and (min-width: 1801px){
        margin: 10rem auto 4rem !important;
      }
      @media screen and (min-width:120em){
        width: 65%;
      }
      @media screen and (min-width:160em){
        width: 50%;
      }
    }
    & .h1 {
    @media screen and (min-width: 991px) and (max-width: 1400px){
            font-size: 2.2358em;
        }
        @media screen and (min-width: 1401px) and (max-width: 1800px){
            font-size: 3.0358em;
        }
        @media screen and (min-width: 1801px){
            font-size: 3.2358em;
        }
        @media screen and (max-width:48em){
            font-size: 3.0358em;
        }
      @media screen and (max-width:64em){
            font-size: 2.7358em;
        }
    }
    & p{
      @media screen and (min-width: 991px) and (max-width: 1400px){
          font-size: 1.1em;
      }
      @media screen and (min-width: 1401px) and (max-width: 1800px){
        font-size: 1.1em;
      }
    }
  }
}
.nav__wrapper{
  display: none !important;
}
@supports (-ms-accelerator: true) {
   /* Microsoft EdgeV13 CSS styles go here */
  .home-cont{
    background: linear-gradient(to right, rgb(162, 207, 232) 30%, rgb(215, 243, 187) 70%) !important;
    display: block !important;
    @media screen and (max-width: 640px){
      background: linear-gradient(135deg, rgb(162, 207, 232) 30%, rgb(215, 243, 187) 70%) !important;
    }
    &>div{
      width: 79%;
      @media screen and (max-width: 640px){
        width: 79%;
        margin: 8rem auto 4rem !important;
      }
      @media screen and (min-width: 991px) and (max-width: 1400px){
        margin: 10rem auto 4rem !important;
      }
      @media screen and (min-width: 1801px){
        margin: 10rem auto 4rem !important;
      }
      @media screen and (min-width:120em){
        width: 65%;
      }
      @media screen and (min-width:160em){
        width: 50%;
      }
    }
    & .h1 {
    @media screen and (min-width: 991px) and (max-width: 1400px){
            font-size: 2.2358em;
        }
        @media screen and (min-width: 1401px) and (max-width: 1800px){
            font-size: 3.0358em;
        }
        @media screen and (min-width: 1801px){
            font-size: 3.2358em;
        }
        @media screen and (max-width:48em){
            font-size: 3.0358em;
        }
      @media screen and (max-width:64em){
            font-size: 2.7358em;
        }
    }
    & p{
      @media screen and (min-width: 991px) and (max-width: 1400px){
          font-size: 1.1em;
      }
      @media screen and (min-width: 1401px) and (max-width: 1800px){
        font-size: 1.1em;
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   /* IE10 & IE11 CSS styles go here ['162, 207, 232','215, 243, 187']*/
  // img{height: auto !important;}
.box-1, .box-3, .boxpink, .box-2, .boxpink2, .boxpink3, img{animation: none !important;}
.prod-list{
    & a{
      display: -ms-flexbox;
    }
  }
  .right-img {
    & .img-feature{
      & .img{
        & img{
          height: auto !important
        }
      }
    }
  }
  header{
    display: inline-block !important;
    & .logo-section{
      top: 10px;
    }
  }
  #menu{
    & .menu-sec{
      & .nav{
        line-height: 4 !important;
        overflow: hidden !important;
      }
    }
  }
  .home-cont{
    background: linear-gradient(to right, rgb(162, 207, 232) 30%, rgb(215, 243, 187) 70%) !important;
    display: block !important;
    @media screen and (max-width: 640px){
      background: linear-gradient(135deg, rgb(162, 207, 232) 30%, rgb(215, 243, 187) 70%) !important;
    }
    &>div{
      width: 79%;
      @media screen and (max-width: 640px){
        width: 79%;
        margin: 8rem auto 4rem !important;
      }
      @media screen and (min-width: 991px) and (max-width: 1400px){
        margin: 10rem auto 4rem !important;
      }
      @media screen and (min-width: 1801px){
        margin: 10rem auto 4rem !important;
      }
      @media screen and (min-width:120em){
        width: 65%;
      }
      @media screen and (min-width:160em){
        width: 50%;
      }
    }
    & .h1 {
    @media screen and (min-width: 991px) and (max-width: 1400px){
            font-size: 2.2358em;
        }
        @media screen and (min-width: 1401px) and (max-width: 1800px){
            font-size: 3.0358em;
        }
        @media screen and (min-width: 1801px){
            font-size: 3.2358em;
        }
        @media screen and (max-width:48em){
            font-size: 3.0358em;
        }
      @media screen and (max-width:64em){
            font-size: 2.7358em;
        }
    }
    & p{
      @media screen and (min-width: 991px) and (max-width: 1400px){
          font-size: 1.1em;
      }
      @media screen and (min-width: 1401px) and (max-width: 1800px){
        font-size: 1.1em;
      }
    }
  }
}
